<h1 style="text-align: center; margin-top: 90px;" >Product</h1>
<form style="margin-top: 40px;" name="productForm" method = 'post' enctype="multipart/form-data" #productForm="ngForm" novalidate>

    <label>ProductName</label> 
        <input [(ngModel)]="product.productName" #name="ngModel" [class.is-Invalid]="name.invalid && name.touched"
         type="text" name="name" name="true" required>
        <small [class.d-none]="name.valid || name.untouched" style="color: red;"> *Name is
            required</small>


            <label>Image</label> 
            <input [(ngModel)]="product.image" #image="ngModel" [class.is-Invalid]="image.invalid && image.touched"
             type="file" name="file"  >
            <small [class.d-none]="image.valid || image.untouched" style="color: red;"> *Image is
                required</small>

            <label>Description</label> 
            <input [(ngModel)]="product.description" #description="ngModel" [class.is-Invalid]="description.invalid && description.touched"
             type="text" name="description" description="true" required>
            <small [class.d-none]="description.valid || description.untouched" style="color: red;"> *Description is
                required</small>
    

                <label>Quantity</label> 
            <input [(ngModel)]="product.quantity" #quantity="ngModel" [class.is-Invalid]="quantity.invalid && quantity.touched"
             type="text" name="quantity" required>
            <small [class.d-none]="quantity.valid || quantity.untouched" style="color: red;"> *Quantity is
                required</small>
    

                <label>Price</label> 
            <input [(ngModel)]="product.price" #price="ngModel" [class.is-Invalid]="price.invalid && price.touched"
             type="text" name="price" price="true" required>
            <small [class.d-none]="price.valid || price.untouched" style="color: red;"> *Price is
                required</small>

                <div>
                    <label>Status</label>
                    <select #status="ngModel" [class.is-Invalid]="status.invalid && status.touched"  name="status" [(ngModel)]="product.status" required>
                        <option *ngFor="let i of ['Active','Inactive']">{{i}}</option>
                    </select>
                    <small [class.d-none]="status.untouched || status.valid" style="color: red;"> * select Status</small>
                </div>
    
      <button type="submit" [disabled]="productForm.form.invalid" (click)="saveData()" [style.display]="saveBtn"
      style="margin-top: 10px; float: inline-end; "  >ADD</button>
      <button type="submit" [disabled]="productForm.form.invalid" (click)="updateData()" [style.display]="updateBtn"
      style="margin-top: 10px; float: inline-end;"  >UPDATE</button>
  </form>