/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
  }
  ul {
    list-style: none;
  }
  a{
    background-color:wheat;
    display: inline-block;
    color: #a36e73;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 15px;
    text-align: center;
    border: none;
    position: absolute;
    top:10px;
    right: 16px;
  }
  .nav-bar {
    background-color: #343a40;
    size: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .nav-bar a {
    color: white;
    font-size: 20px;
    margin: 20px;
  }
  .top-nav li {
    display: inline-block;
    padding: 15px 15px 15px 0px;
    margin: 20px;
  }
  .title {
    padding-left: 15px;
    font-size: 20px;
  }
  .wrraper {
    display: flex;
  }
  .left-content {
    background-color: #f8f9fa;
    flex: 3;
    min-height: 90vh;
  }
  
  .right-content {
    padding: 20px;
    flex: 9;
  }
  table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
  }
  table thead th {
    vertical-align: bottom;
  }
  
  td,
  th {
    padding: 0.3rem;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
  }
  .btn,
  button {
    display: inline-block;
    background: #a36e73;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 15px;
    text-align: center;
    border: none;
  }
  .btn-del {
    background: #a36e73;
  }
  form {
    max-width: 450px;
    width: 100%;
    margin: auto;
  }
  label {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    line-height: 30px;
  }
  input,textarea,select {
    display: block;
    width: 100%;
    height: 35px;
    border: turquoise 2px dashed;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .welcome {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
  }
  