<a  class="logout" [routerLink]="['/']" > Logout</a> 
<h2 style="text-align: center;">Welcome, {{userName}}!</h2>
<br>

<button  [routerLink]="['/cart']" [queryParams]="{user: profileId}">My Cart</button>

<table *ngIf=" products.length; else elseBlock">
    <thead>
        <tr>     
        <th>ProductName</th>
        <th>Image</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productName}} 
                <br><small> by {{product.sellerName}}</small>
            </td>
            <td>{{product.image}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>
             
                <button class="btn btn-primary "  [routerLink]="['/cart']" [queryParams]="{user: profileId}" (click)="addToCart(product.productId)">Add to Cart</button>
            </td>

            
        </tr>
    </tbody>
</table>
<ng-template #elseBlock>
    <h2 style="text-align: center;">No product to sell</h2>
</ng-template>